.App {
  font-family: sans-serif;
  text-align: center;
}

.block-cont {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: #fff;
  color: #444;
  max-width: 980px;
  margin: 50px auto;
}
.block {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
}

.block.clicked {
  background: lightgreen;
  color: #444;
}
